/*--- navigation bar ---*/
.navbar {
  background: #2d2e3b;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 6em !important;
  font-size: larger;
}
.navbar-brand:hover,
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}

/*---Styling for footer links---*/
.link u,
a {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 20px;

  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.footpara {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 20px;

  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.form-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}
.footer {
  color: #2d2e3b;
  background-color: #2d2e3b;
  height: 300px;
}
/*---Styling for footer ends---*/

.container1 {
  background: rgb(12, 36, 0);
  background: linear-gradient(
    90deg,
    rgba(12, 36, 0, 1) 0%,
    rgba(72, 121, 9, 1) 0%,
    rgba(255, 254, 0, 1) 100%
  );
}
